@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--p-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--p-text-color);
    background-color: var(--p-content-background);
}
